# build artifacts

.eggs/
.mypy_cache
allennlp.egg-info/
build/
dist/
pip-wheel-metadata/
context.tar.gz


# dev tools

.envrc
.python-version
.idea
.venv/
.vscode/
/*.iml


# jupyter notebooks

.ipynb_checkpoints


# miscellaneous

.cache/
allennlp/tools/EVALB/evalb.dSYM/
doc/_build/
*.swp
.DS_Store


# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.coverage
.pytest_cache/
.benchmarks

# documentation build artifacts

docs/*.md
docs/api
site/
mkdocs.yml
