# use new container-based travis workers
sudo: false
dist: trusty

language: python

cache:
  directories:
  - /home/travis/nltk_data
  - /home/travis/download
  - /home/travis/miniconda3
  - /home/travis/.cache/pip

env:
  matrix:
    - COVERAGE="true" RUN_TESTS="true"
    - RUN_PYLINT="true"
    - RUN_MYPY="true"
    - BUILD_DOCS="true"

notifications:
  email: false

install: source build_tools/travis/install.sh
script: bash build_tools/travis/test_script.sh
after_success: source build_tools/travis/after_success.sh
