sudo: false
dist: trusty
language: python
cache:
  directories:
  - /home/travis/nltk_data
  - /home/travis/download
  - /home/travis/miniconda3
  - /home/travis/.cache/pip
env:
  matrix:
    - COVERAGE="true" RUN_TESTS="true"
    - RUN_PYLINT="true"
    - RUN_MYPY="true"
    - BUILD_DOCS="true"
notifications:
  email: false
addons:
  apt:
    packages:
      - dvipng
      - texlive-latex-base
      - texlive-latex-extra
install: source build_tools/travis/install.sh
script: bash build_tools/travis/test_script.sh
after_success: source build_tools/travis/after_success.sh
deploy:
  provider: pypi
  user: allennlp
  password:
    secure: Li0T4aYNDbP9nTB14e6Bou9h+nHAbWxNoi6Q33sAmMuAq46eM0wUcN/ZaaDooazmvSXP1rDaHLEYNJ1AqMDVoaTmO0s6rMCjDxQy+awO+aFBNjzbxJTVKMZP9yl0UCF5Tt/8h94r2wHizr02Y6WC7jD04ssfen6ZF7my1P6zTBVsCDL83jzo5ng8ATDFzwyLB7RFCdTqlx69eLPGdOL1otvkx7fMO0xsjpmd8+bARl1wITJXOd6RpdiaKD4T7lrExj7ecRU7u5SOebc3pXN942gAXhHT8PQ/uEA5dQkP1boICEPKfXvZq1OEJo9CK+/r9+dYiwlHicySv7cZvbmfdKJp7/aJgDc48Myf+HGb64UWbtIMG8I96BOHNAnxf/E0HTbdPzHlCmeaCS7VUBeC0rvFf6dNpOG+q3AasdjOVTcQRhTRQ4qSsqiqoB+vLGpmCktsmjsdDmWDvpXRC7z2o3fwj436sGKqlQ0mu1gy6aYuTtVHFZkdQnXzka1ns0NLRoceEpWGmCV5rjsT0eFzmUtfOlfC2beP1owNU5X3ejpXJ5abrV0Vt+Zq4Qv/pwnv9zBDmaVxS+tixOxnCZUMIQFMixCU48/0lozVVrniAmeBJU0LkRQvt+iYKfuILvGBGRpM0B3pfxx/1wy8hqF16zAMrhPErszP4u7Nujpz5z0=
  distributions: sdist bdist_wheel
  on:
    tags: true
