#### TESTING-RELATED PACKAGES ####

# Checks style, syntax, and other useful errors.
flake8

# Static type checking
mypy==0.730

# Automatic code formatting
black

# For creating git precommit hooks
pre-commit==1.18.3

# Allows generation of coverage reports with pytest.
pytest-cov

# Allows codecov to generate coverage reports
coverage
codecov

# Required to run sanic tests
aiohttp

#### DOC-RELATED PACKAGES ####

# YAML manipulation
ruamel.yaml

pydoc-markdown==2.0.5
markdown-include==0.5.1
# Package for the material theme for mkdocs
mkdocs-material==4.6.0

# Only used to convert our readme to reStructuredText on Pypi.
pypandoc

# Pypi uploads
twine>=1.11.0
