#### TESTING-RELATED PACKAGES ####

# Checks style, syntax, and other useful errors.
flake8

# Static type checking
mypy==0.942

# Automatic code formatting
black==22.3.0

# Allows generation of coverage reports with pytest.
pytest-cov

# Allows codecov to generate coverage reports
coverage
codecov

# Optional dependencies, which we install for testing purposes.
matplotlib>=2.2.3

# For mocking HTTP requests/responses.
responses>=0.12

# For running tests that aren't 100% reliable.
flaky

# For running benchmarks.
pytest-benchmark

#### DOC-RELATED PACKAGES ####

# YAML manipulation
ruamel.yaml

# Generating markdown files from Python modules.
pydoc-markdown>=4.0.0,<5.0.0
databind.core
docspec<2.0.0
docspec-python<2.0.0

mkdocs==1.3.0
mkdocs-material>=5.5.0,<8.3.0
markdown-include==0.6.0

#### PACKAGE-UPLOAD PACKAGES ####

# Pypi uploads
twine>=1.11.0
setuptools
wheel
