include LICENSE
include README.md
include requirements.txt
recursive-include allennlp *
recursive-include scripts *
recursive-include training_config *.json
recursive-include tutorials *
recursive-exclude * __pycache__
