name: PR

on:
  pull_request:
    branches:
    - master

jobs:
  gpu_checks:
    name: GPU Checks
    runs-on: [self-hosted, GPU]

    steps:
    - uses: actions/checkout@v2

    - name: Debug info
      run: |
        docker --version

  check_core:
    name: Check Core
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7']

    steps:
    - uses: actions/checkout@v2

  check_models:
    name: Check Models
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7']

    steps:
    - uses: actions/checkout@v2
